.footer{
  @media (max-width: 992px) {
    &__center{
      ul{
        gap: 20px 5px;
      }
    }
  }
  @media (max-width:768px) {
    &__top{
      ul{
        gap: 8px;
        button{
          margin: 0;
        }
      }
    }
  }
  @media (max-width: 555px) {
    &__top{
      .row{
        gap: 25px;
      }
      ul{
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  @media (max-width: 465px) {
    &__center{
      li{
        text-align: center;
      }
    }
  }
}