.banner{
  display: flex;
  align-items: center;
  height: 100vh;
  background-color:$gray-bg-color;
  h1{
    font-size: 50px;
    font-weight:$font-bold;
    line-height: 55px;
    margin-bottom: 21px;
  }
  p{
    margin-bottom: 31px;
  }
}