.functional{
  padding: $block-margin 0 85px;
  margin-bottom: 50px;
  background-color:$gray-bg-color;
  &__title{
    margin-bottom: 45px;
    h2{
      margin-bottom: 23px;
    }
  }
  &__content-card{
    height: 100%;
    padding: 27px 35px;
    background: $white-color;
    border: 1px solid #CED7E2;
    border-radius: 20px;
    &-title{
      margin-bottom: 5px;
      gap: 20px;
      &-icon{
        display: inline-block;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 18px;
        background-color: $blue-color;
      }
    }
  }
}