.internet-clients{
  @media (max-width: 992px) {
    &__title{
      max-width: 100%;
    }
  }
  @media (max-width: 420px) {
    &__title p{
      font-size: $font-md-size;
      line-height: 20px;
    }
  }
}